.jkeyboard {
    display: inline-block;
}
    .jkeyboard, .jkeyboard .jline, .jkeyboard .jline ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    .jkeyboard .jline {
        text-align: center;
        margin-left: -14px;
    }
    .jkeyboard .jline ul li {
        font-family: arial, sans-serif;        
        display: inline-block;
        border: 1px solid #ccc;
        margin: 5px 0 0 7px;
        color: #333;
        border-radius: 5px;
        box-sizing: border-box;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
        background: #ffffff;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
        font-size: 10px;
        width: 32px;
        height: 32px;
        line-height: 30px;
    }
@media (min-width: 768px) {
    .jkeyboard .jline ul li {
        font-size: 20px;
        width: 52px;
        height: 52px;
        line-height: 50px;
    }
}
@media (min-width: 980px) {
    .jkeyboard .jline ul li {
        font-size: 25px;
        width: 72px;
        height: 72px;
        line-height: 70px;
    }
}
    .jkeyboard .jline ul li:hover {
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        outline: thin dotted 9px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
    }
    
    .jkeyboard .jline ul li.uppercase {
        text-transform: uppercase;
    }
    .jkeyboard .jline .return {
        width: 60px;
        background: #337ab7;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337ab7), color-stop(100%,#337ab7));
        background: -moz-linear-gradient(top, #337ab7 0%, #337ab7 100%);
        color: #ffffff;
    }

    .jkeyboard .jline .space {
        width: 100px;
    }

    .jkeyboard .jline .numeric_switch {
        width: 50px;
    }

    .jkeyboard .jline .shift {
        width: 50px;
    }

    .jkeyboard .jline .backspace {
        width: 50px;
    }
@media (min-width: 768px) {
    .jkeyboard .jline .return {
        width: 130px;
    }

    .jkeyboard .jline .space {
        width: 456px;
    }

    .jkeyboard .jline .numeric_switch {
        width: 84px;
    }

    .jkeyboard .jline .shift {
        width: 100px;
    }

    .jkeyboard .jline .backspace {
        width: 100px;
    }
}